NODE_ENV=development

# jwt
ACCESS_TOKEN_SECRET=
TOKEN_EXPIRATION_TIME=60m

# perfil admin y puerto express
ADMIN=true
PORT=8080

# mongoDB || mySql || fileSystem || memory
PERSISTENCIA=mongoDB

# modo cluster
MODO_CLUSTER=false

# conexion MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=ecommerce

# conexion Mongo DB
MONGO_URL=

# credenciales para el envio de emails (casilla de salida gmail)
GMAIL_USER=
GMAIL_PASS=

# destinatario avisos email
ADMIN_EMAIL=