<footer class="flex flex-col bg-emerald-200 shadow-lg text-center mt-auto w-full">
  
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
          <div class="flex space-x-40">
            <div class="flex my-4">
          <ul class="hidden md:flex items-center space-x-2">
            <li <% if (title === 'home') { %> class="py-1 px-8 text-black border-b-4 border-green-500 font-semibold" <%}else{%>class="py-1 px-2 text-gray-500 font-semibold hover:bg-green-500 hover:text-white transition duration-300 text-center w-full"><%}%><a href="/home">Home</a></li>
            <li <% if (title === 'products') { %> class="py-1 px-8 text-black border-b-4 border-green-500 font-semibold"<%}else{%>class="py-1 px-2 text-gray-500 font-semibold hover:bg-green-500 hover:text-white transition duration-300 text-center w-full"><%}%><a href="/products">Productos</a></li>
            <li <% if (title === 'about') { %> class="py-1 px-8 text-black border-b-4 border-green-500 font-semibold"<%}else{%>class="py-1 px-2 text-gray-500 font-semibold hover:bg-green-500 hover:text-white transition duration-300 text-center w-full"><%}%><a href="/about">Nosotros</a> </li>
          </ul>
        </div>
        </div>
    </div>
</div>

  
    <div class="flex flex-col justify-center text-gray-700 text-center p-4 max-w-full" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-gray-800" href="#">Vinit!</a>
    </div>
  </footer>